.home-page {
  background-image: none;
  background-color: grey;
  background-size: 100%;
  height: 70vh;
}

.cards {
  gap: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-page {
  text-align: center;
  padding-bottom: 2rem;
}
