.access-card {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-top: 6rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
}

.login-button {
  width: 8rem;
  height: 2rem;
  backdrop-filter: blur(10px);
  background-color: #fff2;
  color: white;
  border-radius: 5px 5px 5px 5px;
}

#email {
  text-align: center;
  height: 2rem;
  width: 15rem;
  backdrop-filter: blur(10px);
  background-color: #fff2;
  color: white;
  border-radius: 5px 5px 5px 5px;
}

#passwd {
  text-align: center;
  height: 2rem;
  width: 15rem;
  backdrop-filter: blur(10px);
  background-color: #fff2;
  color: white;
  border-radius: 5px 5px 5px 5px;
}

#email::placeholder {
  color: white;
}

#passwd::placeholder {
  color: white;
}

.create-title {
  color: white;
}
